@import url('https:/fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #121231;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: white;
    font-weight: bold;
	    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #000;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}



@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
		align-items: center;
		justify-content: flex-end;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

body{
	padding-top:100px;
	background: linear-gradient(124deg,#b2e082,#97c962);
	
  }
  #road{
    /* width: auto; */
    height: 80px;
    /* background-color: gray; */
    /* margin: 55px 10px 0 10px; */
    clear: both;
    border-radius: 2px;
	overflow: hidden;
  }
  
  
  .bus {
	  display: inline-block;
	  width: 90px;
	  height: 45px;
	  clear:both;
	  margin:20px 0px 0px 10px;
	   background-color:#ffd800;
	  border-radius:17px 10px 2px 2px;  
	  background: #ffd800;
	  position :relative;
	animation: mymove 13s infinite normal ease-in-out;
	-webkit-animation: mymove 13s infinite normal ease-in-out;
  }
  
  @keyframes mymove {
	  0% { left: -300px;}
	  50% {left: 600px;}
	  100% {left: 1400px;}
   }
  
  @-webkit-keyframes mymove {
	  0% { left: -300px;}
	  50% {left: 550px;}
	  100% {left: 1400px;}
   }
  
  #whell1{
	position:absolute;
	display: inline-block;
	width:14px;
	height:14px;
	background-color:black;
	border-radius:80px;
	margin:37px 65px;
	background-position: center center;
	}
  
  
  #whell2{
	position:absolute;
	display: inline-block;
	width:14px;
	height:14px;
	background-color:black;
	border-radius:80px;
	margin:37px 10px;
	background-position: center center;
	}
  
  #whell3{
	position:absolute;
	display: inline-block;
	width:8px;
	height:8px;
	background-color:transparent;
	border:1.5px dotted white;
	border-radius:80px;
	margin:39px 67.1px;
	background-position: center center;
	}
  
  
  #whell4{
	position:absolute;
	display: inline-block;
	width:8px;
	height:8px;
	background-color:transparent;
	border:1.5px dotted white;
	border-radius:80px;
	margin:39px 11.9px;
	background-position: center center;
	}
  
  
  #win1{
	position:absolute;
	display: inline-block;
	width:12px;
	height:12px;
	background-color:white;
	border-radius:4px 0 0 0;
	margin:5px 20px 0px 8px;
	background-position: center center;
	}
  #win2{
	position:absolute;
	display: inline-block;
	width:18px;
	height:12px;
	background-color:white;
	border-radius:3px 3px 0px 0px; 
	margin:5px 33px 0px 24px;
	background-position: center center;
	}
  
  #win3{
	position:absolute;
	display: inline-block;
	width:18px;
	height:12px;
	background-color:white;
	border-radius:3px 3px 0px 0px; 
	margin:5px 54px 0 48px;
	background-position: center center;
	}
  
  #win4{
	position:absolute;
	display: inline-block;
	width:12px;
	height:12px;
	background-color:white;
	border-radius:0 4px 0 0;
	margin:5px 54px 0 72px;
	background-position: center center;
	}
  
  #line{
	  position:relative;
	/   width: 1200px;

	   top:40px;
	  height: 1px;
	  clear:both;
	  margin-left: auto;
	  margin-right:auto;
	   border:1px dashed white;
  }
  
  #fuel{
	position:absolute;
	display: inline-block;
	width:5px;
	height:1.5px;
	background-color:#1D1F20;
	border-radius:0px;
	margin:42px -5px;
	background-position: center center;
	transform:rotate(-18deg);  
  }
  
  #light{
	z-index:1;
	position:absolute;
	display: inline-block;
	width:4px;
	height:7.8px;
	background-color:black;
	border-radius:80px;
	margin:27px 90px;
	border-radius: 0 90px 90px 0;
	background:#f93100;
   
  }
  
  #up1{
	position:absolute;
	display: inline-block;
	width:50px;
	height:2px;
	background-color:white;
	border-radius:4px 4px 0 0;
	margin:-5px 0px 0px 19px;
	background-position: center center;
	}
  
  #up2{
	position:absolute;
	display: inline-block;
	width:2px;
	height:5px;
	background-color:white;
	margin:-5px 0px 0px 26px;
	background-position: center center;
	}
  
  #up3{
	position:absolute;
	display: inline-block;
	width:2px;
	height:5px;
	background-color:white;
	margin:-5px 0px 0px 60px;
	background-position: center center;
	}
  
  #foggy{
    width: max-content;
    height: 7.8px;
    border-right: 200px solid #f7f771;
    border-top: 0px solid transparent;
    border-left: 106px solid transparent;
    border-bottom: 20px solid transparent;
    border-radius: 100px;
    margin: 90px 60px;
    position: absolute;
    margin: auto;
  
  }
  
  #cloud1{
	width:100px;
	height:100px;
	margin:-90px;
	position:absolute;
	background: url(http:/images.clipartpanda.com/clouds-background-png-cloud-edition.png);
	background-size: 65% 45%;
	 background-repeat: no-repeat;
	animation: cloudy 20s infinite normal;
	-webkit-animation: cloudy 20s infinite normal linear;
  }
  
  @keyframes cloudy{
	  0% { left: -100px;}
	  100% {left: 1320px;}
   }
  
  @-webkit-keyframes cloudy {
	  0% { left: -100px;}
	  100% {left: 1320px;}
   }
  
  #cloud2{
	opacity:0.7;
	 width:100px;
	height:100px;
	margin:-120px;
	position:absolute;
	background: url(http:/images.clipartpanda.com/clouds-background-png-cloud-edition.png);
	background-size: 65% 45%;
	 background-repeat: no-repeat;
	animation: cloudy2 23s infinite reverse;
	-webkit-animation: cloudy2 23s infinite reverse  ease-in;
  }
  
  @keyframes cloudy2{
	  0% { left: -100px;}
	  100% {left: 1300px;}
   }
  
  @-webkit-keyframes cloudy2 {
	  0% { left: -100px;}
	  100% {left: 1300px;}
   }
	
  
  #cloud3{
  opacity:0.8;
	width:100px;
	height:100px;
	margin:-80px;
	position:absolute;
	background: url(http:/images.clipartpanda.com/clouds-background-png-cloud-edition.png);
	background-size: 70% 48%;
	 background-repeat: no-repeat;
	animation: cloudy3 40s infinite normal;
	-webkit-animation: cloudy3 40s infinite normal linear;
  }
  
  @keyframes cloudy3{
	  0% { left: -100px;}
	  100% {left: 1320px;}
   }
  
  @-webkit-keyframes cloudy3 {
	  0% { left: -100px;}
	  100% {left: 1320px;}
   }
  
  #cloud4{
		-webkit-transform: rotateY(180deg); 
	  transform: rotateY(180deg);
	opacity:1;
	 width:100px;
	height:100px;
	margin:-80px;
	position:absolute;
	background: url(http:/images.clipartpanda.com/clouds-background-png-cloud-edition.png);
	background-size: 85% 70%;
	 background-repeat: no-repeat;
	animation: cloudy4 38s infinite reverse;
	-webkit-animation: cloudy4 38s infinite reverse linear;
  }
  
  @keyframes cloudy4{
	  0% { left: -100px;}
	  100% {left: 1300px;}
   }
  
  @-webkit-keyframes cloudy4 {
	  0% { left: -100px;}
	  100% {left: 1300px;}
   }
   

/    name
.neon {
    animation: neonAnim 4.5s alternate-reverse infinite;
  font-family: 'Monoton', cursive;
    font-size: 72px;
  text-align:center;
  border: none;
  animation: blink infinite 2s;
  -webkit-animation: blink 12s infinite;

}
@keyframes neonAnim {
    from {
        text-shadow:
          0 0 29px rgba(255, 0, 20, .7),
          0 0 59px rgba(255, 0, 20, .7),
          0 0 119px rgba(255, 0, 20, .7);
      }
      to {
        text-shadow:
          0 0 24px rgba(255, 0, 20, .7),
          0 0 39px rgba(255, 0, 20, .7),
          0 0 79px rgba(255, 0, 20, .7);
      }
}
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}