
    <div id = 'road'>
      <div id = 'cloud1'></div>
        <div id = 'cloud2'></div>
        <div id = 'cloud3'></div>
        <div id = 'cloud4'></div>
        <div id = 'line' class="neon"><p style="background-color: #fff;     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            color: black; font-size: 23px; letter-spacing: 0.7px; text-transform: uppercase; display: flex; align-items: center; justify-content: center;">Adarsh Vidya Mandir Campus</p></div>
          <div id = 'tree'></div>   
          <div class = 'bus'>
            <div id = 'up1'></div>
            <div id = 'up2'></div>
            <div id = 'up3'></div>
            <div id = 'win1'></div>
            <div id = 'win2'></div>
            <div id = 'win3'></div>
            <div id = 'win4'></div>
            <div id = 'whell1'></div>
            <div id = 'whell2'></div>
            <div id = 'whell3'></div>
            <div id = 'whell4'></div>
            <div id = 'fuel'></div>
            <div id ='light'></div>
            <!-- <div id ='foggy'></div> -->
   
      </div>
    </div>
  
  
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#"><img src="../../assets/White logo - no background.png" width="60px"></a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Academic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Admission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Galary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Alumini</a>
            </li>
        </ul>
    </div>

</nav>