<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/gallery-banner-min.jpg" class="d-block w-100" style="height: 400px; object-fit: cover;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg" class="d-block w-100" style="height: 400px; object-fit: cover;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/note-thanun-CYlPykF-qAM-unsplash.jpg" class="d-block w-100" style="height: 400px; object-fit: cover;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- enrolment card -->
    <div class="row no-gutters mb-5 mt-5" data-aos="zoom-out-left" >
      <div class="col-md-4">
        <img src="./assets/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg" class="card-img" alt="..." style="height: 90px; padding: 10px; object-fit: cover;">
      </div>
      <div class="col-md-8">
        <div class="card-body p-2">
          <h5 class="card-title" style="text-transform: uppercase;">Enroll Your Child In Our School</h5>
          <p class="card-text" style="margin-top: 5px;"><small class="text-muted"><button>ENROLL NOW</button></small></p>
        </div>
      </div>
    </div>

  <!-- service card  -->
  
  <div class="row service" data-aos="zoom-out-right">
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-brush"></i>
        </div>
        <h3>Great Teacher</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-brush"></i>
        </div>
        <h3>Creative Lessons</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-brush"></i>
        </div>
        <h3>Best Environment</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
      </div>
    </div>
  </div>
  <!-- tabs -->
  <div class="tabs" style="    margin-top: 100px;
">
    <div class="tbs-content">
      <img src="./assets/White logo - no background.png" width="560" height="315" alt="">    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Our Mission">
        <br>
        <h1 style="color: #121231;">Welecome to</h1>
        <h3 style="background-color: #ffd800; width: fit-content;">Adarsh Vidya Mandir Campus</h3>
        <h4 style="color: tomato;">-Mision Of AVM-</h4>

        <p>
          The philosophy of a school gets manifest through its infrastructure - its classrooms, 
          laboratories, activity rooms, playground, cafeteria, recreational and other facilities. At school a child should 
          get the best of everything – amenities, care and education. Our scientifically made building, vast playgrounds, 
          high-tech labs, student clubs and cultural organizations are stuff that will make one's time worthwhile at this 
          prestigious educational institution. Our sprawling campus is decked up with all kinds of latest infrastructural 
          facilities that will impress parents and children alike.
      
      </p>      </mat-tab>
      <mat-tab label="Our Vision">
        <br>
        <h1 style="color: #121231;">Welecome to</h1>
        <h3 style="background-color: #ffd800; width: fit-content;">Adarsh Vidya Mandir Campus</h3>
        <h4 style="color: tomato;">-Vision Of AVM-</h4>

        <p>
          Our team of highly experienced and dynamic teachers believe in imparting knowledge in the most 
          innovative manner. Students and their wellbeing is central to us. Our academic pursuits, along with a range of 
          extracurricular activities, help in honing a child's skills and ensuring that he/she grows to be a mature and 
          responsible citizen.
      </p>
         </mat-tab>
    </mat-tab-group>
  </div>


  <!-- counter -->
<!-- Include following into your head tag
*******************************-->


<!-- servi ce card2 -->
<div class="feat bg-gray pt-5 pb-5">
    <div class="row">
      <div class="section-head col-sm-12">
        <h4><span>Our Activities</span> Our Best Services For Your Kids</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's<br>standard dummy text ever since the 1500s, when an unknown book.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
          <h6>Great Teacher</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
          <h6>Bus Service</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
          <h6>Sports Training</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
          <h6>Art And Music</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
          <h6>Outing Program</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
          <h6>Language Course</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- our teacher -->
   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 50px;">
    <h1 style="display: flex; align-items: center; justify-content: center;">our <span style="color: tomato;">Teachers</span></h1>
    <p style="display: flex; align-items: center; justify-content: center; color: tomato;">--Meet Our Teachers & Office Staff--</p>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            <img src="./assets/gallery-banner-min.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
            <div class="carousel-caption">
              <h5>Teacher 1</h5>
              <p>Subject: Mathematics</p>
              <p>Experience: 10 years</p>
            </div>
          </div>
          <div class="col">
            <img src="./assets/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
            <div class="carousel-caption">
              <h5>Teacher 2</h5>
              <p>Subject: Science</p>
              <p>Experience: 8 years</p>
            </div>
          </div>
          <div class="col">
            <img src="./assets/note-thanun-CYlPykF-qAM-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
            <div class="carousel-caption">
              <h5>Teacher 3</h5>
              <p>Subject: English</p>
              <p>Experience: 12 years</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img src="./assets/note-thanun-CYlPykF-qAM-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
            <div class="carousel-caption">
              <h5>Teacher 4</h5>
              <p>Subject: History</p>
              <p>Experience: 7 years</p>
            </div>
          </div>
          <div class="col">
            <img src="./assets/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
            <div class="carousel-caption">
              <h5>Teacher 5</h5>
              <p>Subject: Physics</p>
              <p>Experience: 9 years</p>
            </div>
          </div>
          <div class="col">
            <img src="./assets/note-thanun-CYlPykF-qAM-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
            <div class="carousel-caption">
              <h5>Teacher 6</h5>
              <p>Subject: Geography</p>
              <p>Experience: 6 years</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 


    <!-- our toppers -->
     <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 50px;">
      <h1 style="display: flex; align-items: center; justify-content: center;">our <span style="color: goldenrod;">Toppers</span></h1>
      <p style="display: flex; align-items: center; justify-content: center; color: tomato;">--We groom Our students to be confident and successful--</p>
  
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <img src="./assets/adam-winger-aCajfuNQAN4-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
              <div class="carousel-caption">
                <h5>Student 1</h5>
              </div>
            </div>
            <div class="col">
              <img src="./assets/logan-isbell-F5b7_OD4IMA-unsplash.jpg.crdownload" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
              <div class="carousel-caption">
                <h5>Student 2</h5>

              </div>
            </div>
            <div class="col">
              <img src="./assets/muhammad-rizwan-VnydpKiCDaY-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
              <div class="carousel-caption">
                <h5>Student 3</h5>

              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <img src="./assets/muhammad-rizwan-VnydpKiCDaY-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
              <div class="carousel-caption">
                <h5>Student 4</h5>

              </div>
            </div>
            <div class="col">
              <img src="./assets/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
              <div class="carousel-caption">
                <h5>Student 5</h5>

              </div>
            </div>
            <div class="col">
              <img src="./assets/note-thanun-CYlPykF-qAM-unsplash.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="...">
              <div class="carousel-caption">
                <h5>Student 6</h5>

              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


   
    <!-- video -->

    <!------ Include the above in your HEAD tag ---------->
    
    <div class="video-container">
      <h1 style="display: flex; align-items: center; justify-content: center;">our <span style="color: tomato;">School Highlights</span></h1>
      <p style="display: flex; align-items: center; justify-content: center; color: tomato;">--We have world class infrastructure--</p>      <div class="row">

        <div class="col-md-6 ">
          <div class="card">
            <div class="card-image">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="628" height="315" src="https://www.youtube.com/embed/LR6xXs4lDsA" frameborder="0" allowfullscreen></iframe>
                <div class="content">
                  <h1>Z-STAR Trinity</h1>
    
                </div>
              </div>
    
            </div>
            <!-- card image -->
            <div class="card-content">
              <span class="card-title">Exhilarating to Watch</span>
              <p>Shaking up the Australian blues scene, award-winning international artist Zee Gachette will be setting the stage alight with her high octane energy modern blues, psyche rock, folk n’ funk. Zee’s inimitable talent for improvising onstage is simply exhilarating to watch, inspiring standing ovations from music legends like Jimmy Page (Led Zeppelin), Roger Daltrey (The Who) and Amy Winehouse. A show not to be missed!
    </p>
            </div>
            <!-- card content -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="card">
            <div class="card-image">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="628" height="315" src="https://www.youtube.com/embed/LR6xXs4lDsA" frameborder="0" allowfullscreen></iframe>
                <div class="content">
                  <h1>Z-STAR Trinity</h1>
    
                </div>
              </div>
    
            </div>
            <!-- card image -->
            <div class="card-content">
              <span class="card-title">Exhilarating to Watch</span>
              <p>Shaking up the Australian blues scene, award-winning international artist Zee Gachette will be setting the stage alight with her high octane energy modern blues, psyche rock, folk n’ funk. Zee’s inimitable talent for improvising onstage is simply exhilarating to watch, inspiring standing ovations from music legends like Jimmy Page (Led Zeppelin), Roger Daltrey (The Who) and Amy Winehouse. A show not to be missed!
    </p>
            </div>
            <!-- card content -->
          </div>
        </div>
      </div>

    
    </div><!--end container-->


  
  
  




  
  

